**/.terraform
**/terraform.tfstate*
**/.terraform.tfstate.lock.info
**/.terraform.lock.hcl
**/__pycache__
**/.pytest_cache
**/.test.lock
.idea
.vscode
backend.tf
backend-config.hcl
credentials.json
key.json
terraform-ls.tf
bundle.zip
.DS_Store
**/packer_cache
**/*.pkrvars.hcl
fixture_*
fast/configs
**/node_modules
cloud_sql_proxy
examples/cloud-operations/binauthz/tenant-setup.yaml
examples/cloud-operations/binauthz/app/app.yaml
env/
examples/cloud-operations/adfs/ansible/vars/vars.yaml
examples/cloud-operations/adfs/ansible/gssh.sh
